<h2>Edit this Restaurant</h2>
<!--
<form action="/restaurants" method="patch">
  <label for="name">Enter a restaurant name</label>
  <input type="text" name="restaurant[name]" value="Sichuan Citizen">
  <label for="name">Enter a restaurant address</label>
  <input type="text" name="restaurant[address]" value="Donghu">
  <label for="name">Enter a restaurant category</label>
  <input type="text" name="restaurant[food_type]" value="Catonese">
  <input type="Submit">


</form>
 -->

<%= render "form" %>
