<h2>Add a New Restaurant</h2>

<!-- <h3>html form</h3>

<form action="/restaurants" method="post">
  <label for="name">Enter a restaurant name</label>
  <input type="text" name="restaurant[name]">
  <label for="name">Enter a restaurant address</label>
  <input type="text" name="restaurant[address]">
  <label for="name">Enter a restaurant category</label>
  <input type="text" name="restaurant[food_type]">
  <input type="submit">
</form> -->



<%= render "form" %>
<!--

params {
  restaurants {
    name: 'charlies',
    address: 'changshu',
    food_type: 'burgers'
  }
}
 -->
